.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 50vw;
    min-height: 50vh;
    

}

.button-container button{
    height: 300%;
    width: 50%;
    margin-bottom: 10%;
    

}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.outcome-section{
    min-height: 50%;
    min-width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.outcome{
    background-color: skyblue;
    min-width: 40%;
    min-height: 20%;
    justify-content: center;
    align-items: center;
   
}
.scores{
    background-color: skyblue;
    
    min-width: 40%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20%;
}

